@use "_vars" as *;

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@mixin clickable {
    cursor: pointer;

    @media #{$not-mobile-device} {
        &:hover {
            background: var(--item-hover-color);
        }
    }
}