@import "_vars";
@import "_utils";


* {
    font-family: $font-family;
}

button, input, select, textarea {
    font-size: $font-size;
}

body {
    background: $back-color;
    font-size: $font-size;
    color: $text-color;
}

.hidden {
    display: none;
}
