@use "../../themes/_vars" as *;

.popup-container {
    position: absolute;
    z-index: var(--z-index-popup);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: var(--surface-color);
    transform: scale(0);
    opacity: 0;
    transition: all var(--duration-fast) ease-in-out;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}


.context-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;


        .action {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: size(2);
            transition: background-color var(--duration-fast);
            box-sizing: border-box;
            width: 100%;

            &:hover {
                background-color: var(--border-color);
            }

            .icon {
                /*/color: $on-surface-color-light;*/
                width: 24px;
            }

            .text {
                line-height: normal;
                margin-left: size(1);
                flex-grow: 1;
            }
        }
    }
}
