@import "../../themes/_vars";

.object-editor {

    &.vertical {
        display: flex;
        flex-direction: column;
        gap: size(2);
    }

    div.row {
        display: flex;
        flex-direction: row;
        gap: size(2);

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}