@import "../../themes/_vars";

.wizard {
    display: flex;
    flex-direction: row;
    gap: size(3);

    > .step-list {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-shrink: 0;

        li {
            padding: size(1) size(1.5);
            transition-duration: $duration-fast;

            &.active {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }

    > .body {
        padding-top: size(1);
        flex-grow: 1;

        > header {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: size(2);
        }

        > footer {
            margin-top: size(2);
            border-top: solid 1px $border-color;
            padding-top: size(2);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .next {
            }
        }
    }
}