@use "../_common" as *;

.empty-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: size(1);

    .icon {
        pointer-events: none;
        user-select: none;
        color: var(--primary-color);
        opacity: 0.2;
        font-size: 250px;
        line-height: 250px;
    }
}
