@use "../_common" as *;
@use "@eusoft/webapp-ui/themes/_vars" as *;


div.filter-editor {
    position: relative;


    > .search-bar {
        border: solid 1px var(--border-color);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 4px;

        input {
            border: none;
            padding: 8px 4px;
            background: none;
            flex-grow: 1;

            &:focus {
                outline: none;
            }
        }

        &:has(input:focus) {
            border: solid 1px var(--border-color-focus);
        }

        button {
            border: none;
            background: none;
            padding: 4px;
            margin: 0;

            i {
                vertical-align: middle;
            }

            &.show-filters > i {
                color: var(--primary-color);
            }
        }
    }


    > .active-filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: size(1);
        margin-top: size(1);
    }

    .chip {
        border: solid 1px #ccc;
        border-radius: 10px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0 4px;
        border-color: var(--color);
        background-color: color-mix(in srgb, var(--color) 5%, var(--mix-to-color) 95%);
        --color: #777;

        .body {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px;

            i {
                color: var(--color);
            }
        }

        button {
            border: none;
            background: none;
            padding: 4px;
            margin: 0;
            border-radius: 100%;

            i {
                font-size: 16px;
                width: 18px;
                height: 16px;
                line-height: 16px;
                vertical-align: middle;
            }
        }
    }

    > .suggestions {
        position: absolute;
        z-index: 100;
        background-color: var(--surface-color);
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        padding: size(1) size(1);
        max-height: 200px;
        min-height: 50px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 4px;


        > * {
            display: flex;
            align-items: center;
            padding: size(1) size(1);
            transition-duration: var(--duration-normal);
            @include clickable;

            .select {
                color: var(--primary-color);
            }

            .search {
                font-style: italic;

                &:before, &:after {
                    content: '*';
                }
            }


            label {
                &:after {
                    content: ':';
                }

                margin-right: size(1);
                font-weight: bold;
            }

            i.info {
                color: var(--primary-color);
            }

            i.icon {
                margin-right: 4px;
                color: var(--color);
            }
        }
    }


    button {
        transition-duration: var(--duration-normal);
        border-radius: 4px;
        @include clickable;
    }
}