@use "../_common" as *;

:root {
    --message-box-back: var(--surface-color);
}

.popup.message-box {

    > .message {
        border-radius: 24px;
        background-color: var(--message-box-back);
        color: var(-message-box-text);

        > * {
            padding: 0;
        }

        > header {
            font-size: 28px;
        }

        > main {
            padding: size(4) size(0);
            overflow: hidden;
        }

        > footer {
        }
    }
}
