@use "../_common" as *;

:root {
    --message-box-back: var(--surface-color);
}

@keyframes zoomInFadeIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup.message-box {

    > .message {
        border-radius: 24px;
        background-color: var(--message-box-back);
        color: var(-message-box-text);

        > * {
            padding: 0;
        }

        > header {
            font-size: 28px;
        }

        > main {
            padding: size(4) size(0);
            overflow: hidden;
        }

        > footer {
        }
    }
}

.full-message {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--surface-color);
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: size(2);
    font-size: 18px;

    white-space: pre-wrap;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }

    &.hidden {
        user-select: none;
        pointer-events: none;
        opacity: 0;
        transform: scale(0.8);
        display: flex !important;
        transition-duration: var(--duration-normal);
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: size(2);
        margin-top: size(2);

        button {
        }
    }

    .icon {
        font-size: 200px;
        animation: zoomInFadeIn var(--duration-normal) ease-out forwards;
    }
}