@use "../themes/_vars" as *;

.check-box {
    display: flex;
    flex-direction: row;
    gap: size(1);
    align-items: center;

    .box {
        border: solid 1px var(--border-color);
        aspect-ratio: 1 / 1;
        width: 1em;
        height: 1em;
        border-radius: 4px;
        font-size: 24px;

        i {
            font-size: 24px;
            opacity: 0;
            transform: scale(0);
            transition-duration: 0.1s;
            color: var(--primary-color);
        }
    }

    &.checked {
        .box {
            i {
                transform: unset;
                opacity: 1;
            }
        }
    }
}