@use "../themes/_vars" as *;

.item-view {
    padding-left: size(1);
    padding-right: size(1);
    display: flex;
    flex-direction: column;

    &.round-icon {
        > .main > i {
            background-color: #eee;
            border-radius: size(1);
            width: 32px;
            height: 32px;
            line-height: 32px !important;
            text-align: center;
            flex-shrink: 0;
        }
    }


    > .main {
        padding-top: size(1);
        padding-bottom: size(1);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: size(1);

        > i {
            &:empty {
                display: none;
            }
        }

        > .secondary-actions {
            display: flex;
            flex-direction: row;
            gap: size(0);

            &:empty {
                display: none;
            }

            button {
                width: 40px;
                height: 40px;
                min-width: unset;
                box-sizing: border-box;
                padding: size(0.5);
                justify-content: center;

                > * {
                    line-height: 24px;
                }
            }
        }

        > .body {
            flex-grow: 1;
            gap: 8px;

            > .secondary {
                color: #777;
                margin-top: 4px;
            }
        }
    }
}