@use "../themes/_vars" as *;

.swipe-view {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &.moving {
        > .container > .content-wrapper > .content {
            //transition-duration: 0.05s;
        }
    }

    > .container {
        display: flex;
        flex-direction: row;

        > .action {
            background: none;
            min-width: unset;
            box-shadow: none;
            color: #666;
            font-weight: bold;
            padding: 0 size(1);

            &:active {
                box-shadow: none;
                background: none;
            }

            &:focus {
                background: none;
            }
        }

        > .content-wrapper {
            overflow: hidden;
            position: relative;
            flex-grow: 1;

            > .content {
                display: flex;
                flex-direction: row;
                overflow: visible;
                position: relative;
                top: 0;
                left: 0;
                transition-duration: 0.3s;


                > * {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 size(1);
                    flex-shrink: 0;
                    flex-grow: 1;
                }
            }
        }
    }

    > .bullets {
        margin-top: size(1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;

        span {
            color: #ddd;
            transition-duration: var(--duration-fast);

        }

        .icon {
            color: var(--primary-color);
            font-size: 16px;
            line-height: 16px;
        }
    }
}