@import "../themes/_vars";

$editor-filled-color: whitesmoke !default;
$label-color: #666 !default;

@mixin edit-box {
    padding: size(1) size(2);

    border-radius: 4px;
    border: solid 1px $border-color;
    line-height: 20px;
    height: 48px; 
    box-sizing: border-box;
    outline: 0px auto transparent;

    &:focus-visible {
        outline: 1px auto $border-color-focus;
    }

    &.filled{

    }

    &.outlined{

    }
}
