@use "index" as *;

.single-picker {


}

.popup {
    &.picker {
        main {
            > * {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: size(1) 0;
                gap: 4px;
                @include clickable;


                i {
                    visibility: hidden;
                }

                &.selected {
                    i {
                        visibility: unset;
                    }
                }
            }
        }
    }
}