@use "index" as *;

.single-picker {


}

.popup {
    &.picker {
        main {
            > * {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: size(1) 0;
                gap: 4px;
                cursor: pointer;

                @media #{$not-mobile-device} {
                    &:hover {
                        background: var(--item-hover-color);
                    }
                }

                i {
                    visibility: hidden;
                }

                &.selected {
                    i {
                        visibility: unset;
                    }
                }
            }
        }
    }
}