@use "../_common" as *;

.item-list-content {


    &.round-item {

        .list-view ol {
            gap: size(1)
        }

        .item-view {
            background: var(--item-background);
            border-radius: 4px;
        }
    }


    .load-more {
        margin: auto;
    }

    .item-list {

        > .filter {
            margin-bottom: size(1);
        }

        &.can-open {
            .item-view {
                cursor: pointer;
                transition-property: filter;
                transition-duration: 0.2s;

                &:has(.body:hover) {
                    filter: brightness(0.9)
                }
            }
        }
    }
}
